
cozinhafacil/linux/flutter/generated_plugin_registrant.cc
cozinhafacil/linux/flutter/generated_plugin_registrant.cc
cozinhafacil/linux/flutter/generated_plugin_registrant.h
cozinhafacil/linux/flutter/generated_plugins.cmake
cozinhafacil/macos/Flutter/GeneratedPluginRegistrant.swift
cozinhafacil/windows/flutter/generated_plugin_registrant.cc
cozinhafacil/windows/flutter/generated_plugin_registrant.h
cozinhafacil/windows/flutter/generated_plugins.cmake
